<div id="main">
	<div id="facebook">
		<iframe src="http://www.facebook.com/plugins/like.php?href=www.amodestrebuttal.com&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=40" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:40px;" allowTransparency="true"></iframe>
	</div>
	<h1>A Modest Rebuttal</h1>
	<p>
		This site it meant as a place to speak out against Scott Walker's Bill 11, which is designed to destroy the Wisconsin teachers' union. This is not a time for silence, so we should not be complacent as we watch events in Madison transpire. On this site, you can read the entire Senate Bill 11, the document at the center of this debate, on one of the links below. Also, this site has a short summary provided by the Governor’s office describing the details of Bill 11 in case you lack the time to read the 144 page document. This summary also includes a few explanatory notes based on the analysis of the Legislative Fiscal Bureau of Wisconsin. If interested, their full 48 page analysis of the bill is also included.
	</p>
	<div id="educate">
		<h2>Educate Yourself</h2>
		<a title="Senate Bill 11" class="iframe" href="http://docs.google.com/viewer?url=http%3A%2F%2Fblazing-night-527.heroku.com%2Fresources%2Fbill11.pdf">Senate Bill 11</a> - 144 pages long<br />
		<a title="Senate Bill 11" class="iframe" href="http://docs.google.com/viewer?url=http%3A%2F%2Fblazing-night-527.heroku.com%2Fresources%2FbillSummary.pdf&embedded=true">Analysis of the Bill</a> - 48 pages long - Written by the Legislative Fiscal Bureau of Wisconsin<br />
		<a title="Senate Bill 11" class="iframe" href="http://docs.google.com/viewer?url=http%3A%2F%2Fblazing-night-527.heroku.com%2Fresources%2FbillSummarySimple.pdf&embedded=true">Summary of the Bill</a> - 2 pages long - From the Governor's Office<br />
	</div>
	<h2>Rebuttals</h2>
	<p id="notice"><%= notice %></p>
	<table id="posts">
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<% @posts.each do |post| %>
	<%-
	content = post.owner.split("\n").join("<br />").split("\r").join("")
	content = raw sanitize(simple_format(content), :tags => %w(br) ) 
	-%>
	  <tr>
		<td>
			<strong>Rebuttal by:</strong><br />
			<%= content %>
		</td>
		<td class="c2"><%= post.views %> view<%= post.views == 1 ? "" : "s" %></td>
		<td class="c3"><%= link_to 'Read It', post , :class => 'iframe'%></td>
	  </tr>
	<% end %>
	</table>

	<br />
	<h2>Want To Make Your Voice Heard?</h2>
	<%= link_to 'Post Your Own Rebuttal', new_post_path %>
</div>
